#container {
  position: relative;
  display: flex;
  isolation: isolate;
  align-items: center;
  &.seleccionado::before{
    position: absolute;
    content: '';
    height: 120%;
    width: calc(100% + 8px);
    background-color: rgb(120, 120, 120);
    left: 0px;
    z-index: -1;
    border-radius: 5px;
  }

}

#flecha {
  position: absolute;
  height: 25px;
  padding: 0 10px;
}

#tarjeta {
  display: flex;
  align-items: center;
  background-color: #fceab8;
  border-radius: 25px 5px 5px 25px;
  width: 90%;
  font-size: larger;
  padding-left: 5px;
  gap: 1rem;
  margin-left: 30px;
  &.seleccionado {
    background-color: rgba(227, 227, 227, 0.918);
  }
}

#circulo {
  border-radius: 50px;
  height: 25px;
  aspect-ratio: 1;
  background-color: #0000005a;
}

img {
  max-height: 40px;
}
