#container {
  height: 600px;
  width: 95vw;
  background-color: #fceab8;
  display: grid;
  grid-template-rows: 1fr 3fr 3fr;

  .area:first-child{
    flex-grow: 1;
    background-color: #bfc3ce;
  }
  .area {
    padding-left: 60%;
    background-color: #d3ecf6;

  }
  .area:last-child{
    background-color: #cce486;
  }
}
