<header>
  <div id="tituloContainer">
    <img src="../assets/img/pokeball-pokemon-svgrepo-com.svg">
    <h1>Pokédex</h1>
    <img src="../assets/img/pokeball-pokemon-svgrepo-com.svg">
   </div>

   <a href="https://github.com/pablosnhz">Ver mas proyectos</a>

</header>
<router-outlet></router-outlet>
<footer>
  <p><kbd>A</kbd><a href="https://www.linkedin.com/in/pablosanhuezaweb/" target="_blank">Linkedin</a></p>
	<p><kbd>X</kbd><a href="https://github.com/pablosnhz/pokeapi-angular" target="_blank">Repositorio</a></p>
</footer>
