
#tituloContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  background-color: rgb(255, 156, 161);
  width: 300px;
  border-radius: 50px;
  border: solid 3px #9d9d9d;
  height: 50px;
  color: #f0fbff;
  img{
    height: 40px;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 70px;
  user-select: none;
  background: linear-gradient(
    to right,
    #ff6666,
    #ff6666 70%,
    #ff8080 71%,
    #ff8080 97%,
    #ff8080 100%
  );
  h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 2px #757575;
    font-size: 2.5rem;
  }
  a{
    text-decoration: none;
    background-color: #ff4545;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    border-radius: 50px;
    color: #ffffff;
    font-size: x-large;
  }
}

footer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  height: 30px;
  background-color: #ff8080;
  color: white;
  padding-right: 20px;
  a{
    color: rgb(109, 109, 109);
  }
  p{
    display: flex;
    align-items: center;
    font-weight: 500;
  }
  kbd{
    background-color: #8a8582;
    border-radius: 50%;
    height: 26px;
    line-height: 26px;
    aspect-ratio: 1;
    text-align: center;
    font-size: xx-large;
    margin-left: 10px;
    margin-right: 5px;
    user-select: none;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
  }
}
