<main id="container">

<app-detalle [pokemon]="pokemonSeleccionado"
(clicked)="cambiarEstadoDetalle()"
[abierto]="detalle"
[ngClass]="{abierto: detalle}"
></app-detalle>

<app-foto-pokemon
[pokemon]="pokemonSeleccionado"
[ngClass]="{abierto: detalle}"
></app-foto-pokemon>

<div id="tarjetasContainer" #tarjetas (scroll)="onScroll($event)">

<app-tarjeta-pokemon *ngFor="let pokemon of listaPokemons"
[data]="pokemon"
[seleccionado]="pokemon.name === pokemonSeleccionado?.name"
(clickeado)="tarjetaClickeada($event)">
</app-tarjeta-pokemon>

<img src="../../../assets/img/spinner.svg" alt="Cargando" id="spinner" *ngIf="cargando">
</div>

</main>
