#container {
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  align-items: center;
  background-image: linear-gradient(85deg, #d37553 0, #d36b55 8.33%, #d36057 16.67%, #d15359 25%, #cd455c 33.33%, #c7345f 41.67%, #c01f63 50%, #b70068 58.33%, #ac006e 66.67%, #a00076 75%, #92007f 83.33%, #810088 91.67%, #6c0091 100%);

}

app-foto-pokemon{
  margin-left: 100px;
  z-index: 2;
  transition: 0.5s ease-in-out;
  &.abierto{
    margin-left: 50px;
  }
}

app-detalle{
  position: absolute;
  z-index: 1;
  left: -90vw;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
  &.abierto{
    left: 0;
  }
}

#tarjetasContainer{
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: 10px;
}

#spinner {
  max-height: 50px;
}

::-webkit-scrollbar{
  width: 12px;
  margin-right: 20px;
}
::-webkit-scrollbar-thumb{
  background-color: #e9563d;
  border-radius: 2px;
  /* Con este truco hago el thumb más chico que su padre */
  box-shadow: inset 0 0 0 2px #882a1a;
  border-left: 1.5px solid transparent;
  border-right: 1.5px solid transparent;
  background-clip: padding-box;
  cursor:grab;
}
::-webkit-scrollbar-track {
  border: solid #90ace7 2px;
  cursor: pointer;
  background: repeating-linear-gradient(
    0deg,
    #276d83,
    #276d83 5px,
    #1c4760 7px,
    #1c4760 9px
  );
}

